<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Contact</title>
</head>
<body>
    <header>
    <nav>
        {{!-- <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
        </ul> --}}
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            {{#if isLoggedInHelper}}
                <li><a href="/profile">PROFILE</a></li>
            {{else}}
            <li><a href="/login">LOGIN</a></li>
            {{/if}}
            {{!-- <li><a href="/login">LOGIN</a></li> --}}
            <li><a href="/register">REGISTER</a></li>
        </ul>
    </nav>
    </header>
    <main>
    <h1>Contact Page</h1>
    
    <h3>GET IN TOUCH</h3>
    <hr>
    <div class="container">
        <form action="https://formsubmit.co/h.faisal3399@gmail.com" method="POST">
            <input type="text" id="name" name="name" placeholder="Your Name" required>
            <input type="email" id="email" name="email" placeholder="email id" required>
            <input type="text" id="phone" name="phone" placeholder="phone no." required>
            <textarea id="message" rows="4" name="message" placeholder="Any questions?">
            </textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    </main>
    <br>
    <footer><center>&copy;hewtwo2024</center></footer>
    {{!-- <script src="https://smtpjs.com/v3/smtp.js"></script> --}}
   
</body>
</html>