<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Home</title>
</head>
<body>
    {{!-- <h1>Navigation</h1> --}}
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
    <div id="aboutContainer">
        <h4>
            Welcome to HewTwo.com! Here, you will find free online games ranging from the 
            popular io type such as agar.io to the pokemon battle sim, pokemon showdown
        </h4>
    </div>
    <div id="gamesContainer">
        <div class="card" id="agario">
            <img src="/images/agario.png" width="200px" height="200px">
            <p class="gameName">Game Name</p>
        </div>
        <div class="card" id="diepio">
            <img src="/images/diepio.jpg" width="200px" height="200px">
            <p class="gameName">Game Name</p>
        </div>
        <div class="card" id="slitherio">
            <img src="/images/slitherio.jpg" width="200px" height="200px">
            <p class="gameName">Game Name</p>
        </div>
         <div class="card" id="coolMathGames">
            <img src="/images/coolMathGames.jpg" width="200px" height="200px">
            <p class="gameName">Game Name</p>
        </div>
    </div>
    <br>
    <div id="playTimeContainer">
        <div id="playTimeContainer_P1">
            <h3>Timer</h3>
            <p id="timerDisplay">...</p>
            <div>
                <button id="btn-start">start</button>
                <button id="btn-pause">pause</button>
                <button id="btn-reset">reset</button>
            </div>
        </div>
        <div id="playTimeContainer_P2">
            <h3>Select Game</h3>
            <button id="play_btn">PLAY</button>
        </div>
        <div id="playTimeContainer_P3">
            <h3>Add To Library</h3>
            <button id="add_btn">ADD</button>
        </div>
    </div>
    <script src="/timer.js"></script>
    <script src="/selectGame.js"></script>
    <script src="/addGame.js"></script>
</body>
</html>