<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
        </ul>
    </nav>
    <h1>Login Page</h1>
    <form action="/auth/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button type="submit" id="btnLogin">Login</button>
        </div>
    </form>

    {{#if message }}
            <h4 id="incorrectCredentials">{{message}}</h4>
    {{/if}}
    {{!-- {{#if messageBlank }}
            <h4 id="incorrectCredentials2">{{messageBlank}}</h4>
    {{/if}} --}}
    <script src="/confirmationMessage.js"></script>
   
</body>
</html>