header {
    border-top: solid rgba(69, 83, 146, 0.521) 5px;
    border-left: solid rgba(69, 83, 146, 0.521) 5px;
    border-right: solid rgba(69, 83, 146, 0.521) 5px;
    border-radius: 10px;
    background-color: rgba(70, 92, 189, 0.521);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    /* border: solid red 5px; */

    margin: 0;
    padding: 0;
}

nav ul {
    /* border: solid green 5px;
    display: flex;

    margin: 0;
    padding: 0;
    justify-content: space-between; */

    border: solid lightslategray 5px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap; */
}

nav ul li {
    /* border: solid purple 5px;
    list-style: none; */

    font-size: x-large;
    font-family: 'Work Sans', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    cursor: pointer;
    color: white;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

h4 {
    font-family: 'Work Sans', sans-serif;
}
p {
    font-family: 'Work Sans', sans-serif;
}

#pegasus {
    display: none;
}

/* -------------------------------------------------------------- */

main {
    /* border: solid green 8px; */
 
     /* display: flex; */
     /* flex-direction: column; */
     background: rgba(10, 223, 98, 0.4);
     border-radius: 10px;
     /* flex-grow: 1; */
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     height: 80vh;
     height: fit-content;
     /* padding: 5px; */
 }
 
/* #uniqueBody {
    height: 90vh;
} */

@media only screen and (max-width: 1000px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    main {
        height: fit-content;
        /* align-items: center; */
    }

    /* .card {
        text-align: center;
    } */
}

@media only screen and (max-width: 500px) {
    .card {
        margin-left: 75px;
        /* margin: 5px; */
    }
}