body {
    background-color: orange;
}

#gamesContainer {
    display: flex;

    border: solid black 5px;
    justify-content: space-between;
}

.card{
    margin-right: 5px;
    margin-left: 5px;

    border: solid purple 5px;
    padding: 10px;
    background-color: lightcoral;
}

.gameName {
    border: solid pink 5px;
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
}

#playTimeContainer {
    border: solid black 5px;

    display: flex;
    justify-content: space-between;
}

#playTimeContainer_P1 {
    border: solid red 5px;
}

#playTimeContainer_P2 {
    border: solid blue 5px;
}

#playTimeContainer_P3 {
    border: solid green 5px;
}

/* #agario:hover {
    cursor: pointer;
    border: solid black 5px;
}

#diepio:hover {
    cursor: pointer;
    border: solid black 5px;
}

#slitherio:hover {
    cursor: pointer;
    border: solid black 5px;
}

#coolMathGames:hover {
    cursor: pointer;
    border: solid black 5px;
} */

.card:hover {
    cursor: pointer;
    border: solid grey 5px; 
}

.cardClick {
    cursor: pointer;
    border: solid grey 5px; 
}


button:hover {
    cursor: pointer;
}

/* profile games */
.game-item img {
    border: solid red 5px;
    width: 100px;
    height: 100px;
}

.game-item {
    border: solid blue 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.game-item:hover {
    cursor: pointer;
    border: solid pink 5px;
}

.gameplayhelper {
    border: solid pink 5px;
}

#profileGames {
    border: solid green 5px;
}

#profileStuff {
    border: solid black 5px;
    display: flex;
    justify-content: space-between;
}

#profileButtons {
    border: solid purple 5px;
}

#incorrectCredentials {
    /* display: none; */
}

#timePlayedStuff {
    border: solid pink 5px;
}

#timePlayedStuffDisplay1 {
    border: solid red 5px;
}

#timePlayedStuffDisplay2 {
    border: solid white 5px;
}

#timePlayedStuffDisplay3 {
    border: solid purple 5px;
}

#timePlayedStuffDisplay4 {
    border: solid brown 5px;
}
