body {
    /* background-color: orange; */
    background-color: rgba(85, 133, 181, 1);
}

#gamesContainer {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */

    /* border: solid black 5px; */
    display: flex;
    justify-content: center;
    /* background-color: rgba(83, 168, 182, 1); */
    background-color: rgb(16, 133, 148, 0.5);
}

#gamesContainerUnique {
    border: solid pink 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cardGamesP1 {
    border: solid red 5px;
    background-color: rgba(121, 194, 208, 1);
    display: flex;
    padding: 10px;
    margin: 20px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

#cardGamesP2 {
    border: solid blue 5px;
    background-color: rgba(121, 194, 208, 1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.card{
    /* margin-right: 5px;
    margin-left: 5px; */
    margin: 5px;

    border: solid purple 5px;
    padding: 10px;
    background-color: rgba(187, 228, 233, 1);
    /* background-color: lightcoral; */
}

#slitherio {
    margin-top: 16px;
}

.card img {
    /* border: solid pink 5px; */
}

.card p {
    /* border: solid lightsalmon 5px; */
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.card:active {
    transform: scale(.98);
    transition: 0.2s;
}

.gameName {
    /* border: solid pink 5px; */
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
}

#homeBtnMsgContainer{
    border: solid purple 5px;
    /* background-color: rgba(83, 168, 182, 1); */
    background-color: rgb(16, 133, 148, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#playTimeContainer {
    border: solid black 5px;

    background-color: rgba(121, 194, 208, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#playTimeContainer_P1 {
    border: solid red 5px;
    text-align: center;
    /* background-color: rgba(200, 32, 32, 0.521); */
    padding: 5px;
    background-color: rgba(187, 228, 233, 1);
}

#playTimeContainer_P2 {
    border: solid blue 5px;
    text-align: center;
    /* background-color: rgba(33, 37, 149, 0.521); */
    padding: 5px;
    background-color: rgba(187, 228, 233, 1);
}

#playTimeContainer_P3 {
    border: solid green 5px;
    text-align: center;
    /* background-color: rgba(24, 162, 89, 0.521); */
    padding: 5px;
    background-color: rgba(187, 228, 233, 1);
}

/* #agario:hover {
    cursor: pointer;
    border: solid black 5px;
}

#diepio:hover {
    cursor: pointer;
    border: solid black 5px;
}

#slitherio:hover {
    cursor: pointer;
    border: solid black 5px;
    
}

#coolMathGames:hover {
    cursor: pointer;
    border: solid black 5px;
} */

.card:hover {
    cursor: pointer;
    /* border: solid grey 5px;  */
}

.cardClick {
    cursor: pointer;
    border: solid grey 5px; 
}


button:hover {
    cursor: pointer;
}

/* profile games */
.game-item img {
    border: solid red 5px;
    width: 100px;
    height: 100px;
}

.game-item {
    border: solid blue 5px;
    /* background-color: rgba(231, 76, 10, 0.521); */
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.game-item:hover {
    cursor: pointer;
    /* border: solid pink 5px; */
    transform: scale(1.05);
    transition: 0.2s;
}

.game-item:active {
    transform: scale(.98);
    transition: 0.2s;
}

.gameplayhelper {
    border: solid pink 5px;
}

#profileGames {
    border: solid green 5px;
    display: flex;
    flex-wrap: wrap;
}

#profileStuff {
    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profileButtons {
    border: solid purple 5px;
    /* background-color: lightgreen; */
    padding: 5px;
}

#incorrectCredentials {
    /* display: none; */
}

#timePlayedStuff {
    border: solid pink 5px;

    /* border: solid green 8px; */
 
     /* display: flex; */
     /* flex-direction: column; */
     /* background: gray; */
     /* border-radius: 10px; */
     /* flex-grow: 1; */
     padding-left: 10px;
     padding-right: 10px;
     /* height: 80vh; */
     /* width: 100vw; */
     /* margin: 0; */

}

#timePlayedStuffDisplay1 {
    /* border: solid red 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay2 {
    /* border: solid white 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay3 {
    /* border: solid purple 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay4 {
    /* border: solid brown 5px; */
    /* color: white; */
}

/* .container {
    width: 100%;
    height: 100vh;
    background: rgba(10, 223, 98, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container form {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

/* form {
    height: 62vh;;
} */

#anotherUIUpdate {
    /* border: solid red 5px; */
    display: flex;
    height: fit-content;
    width:fit-content;
    /* background-color: rgba(236, 222, 26, 0.25); */
    padding: 5px;
}

#btnSaveGameTime {
    /* border: solid blue 5px; */
    height: 30px;
    margin: auto;
    border-radius: 5px;
}

#timeDisplay {
    /* border: solid orange 5px; */
    margin-right: 10px;
}

/* ----------------------------------------------------- */
#comingSoonContainer {
    border: solid blue 5px;

    /* background-color: rgba(85, 133, 181, 1); */
    background-color: rgb(16, 133, 148, 0.5);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#comingSoonContainer div {
    border: solid purple 5px;

    background-color: rgba(121, 194, 208, 1);
    /* background-color: rgba(83, 168, 182, 1); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#comingSoonContainer div div {
    /* border: solid orange 5px; */

    margin: 5px;
}

#slideShowContainer {
    /* background-color: rgba(83, 168, 182, 1); */
    background-color: rgb(16, 133, 148, 0.5);
    /* border: solid grey 5px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* padding-left: 10%;
    padding-right: 10%; */
}

#slideShowInnerP0 {
    border: solid blue 5px;
    width: 350px;
    padding: 5px;
    text-align: center;
    /* margin-left: 10px;
    margin-right: 10px; */
}

#slideShowInner {
    border: solid purple 5px;
    /* width: 350px; */
}

/* -------------------------------------------------- */

#loginContainer {
    border: solid blue 5px;

    display: flex;
    justify-content: center;
}

#loginContainer form {
    border: solid brown 5px;

    background-color: rgba(121, 194, 208, 1);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}


#loginContainer form div {
    /* border: solid pink 5px; */
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* height: 100%; */
    /* justify-content: space-around; */
    /* padding-top: 9%; */
}


#loginContainer form label {
    border: solid black 5px;
    font-size: x-large;
}

#loginContainer form input {
    border: solid grey 5px;
    font-size: x-large;
}

#btnLoginContainer {
    border: solid brown 5px;
    height: 150px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}


#btnLogin {
    margin-top: 50px;
    font-size: x-large;
}

.uniqueSSContainer1 {
    border: solid red 5px;
    background-color: rgba(121, 194, 208, 1);
    display: flex;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.uniqueSSContainer1:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.uniqueSSContainer1:active {
    transform: scale(.98);
    transition: 0.2s;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------- */

.container {
    /* border: solid purple 5px; */
}

.container form {
    /* border: solid orange 5px; */
}

.container form textarea {
    /* border: solid blue 5px; */
    height: 100%;
}



