body {
    /* background-color: orange; */
    
}

#gamesContainer {
    display: flex;
    flex-wrap: wrap;

    border: solid black 5px;
    justify-content: space-between;
}

.card{
    margin-right: 5px;
    margin-left: 5px;

    /* border: solid purple 5px; */
    padding: 10px;
    background-color: lightcoral;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.card:active {
    transform: scale(.98);
    transition: 0.2s;
}

.gameName {
    /* border: solid pink 5px; */
    /* margin-left: 10px;
    margin-right: 10px; */
    text-align: center;
}

#playTimeContainer {
    border: solid black 5px;

    display: flex;
    justify-content: space-between;
}

#playTimeContainer_P1 {
    /* border: solid red 5px; */
    text-align: center;
    background-color: rgba(200, 32, 32, 0.521);
    padding: 5px;
}

#playTimeContainer_P2 {
    /* border: solid blue 5px; */
    text-align: center;
    background-color: rgba(33, 37, 149, 0.521);
    padding: 5px;
}

#playTimeContainer_P3 {
    /* border: solid green 5px; */
    text-align: center;
    background-color: rgba(24, 162, 89, 0.521);
    padding: 5px;
}

/* #agario:hover {
    cursor: pointer;
    border: solid black 5px;
}

#diepio:hover {
    cursor: pointer;
    border: solid black 5px;
}

#slitherio:hover {
    cursor: pointer;
    border: solid black 5px;
}

#coolMathGames:hover {
    cursor: pointer;
    border: solid black 5px;
} */

.card:hover {
    cursor: pointer;
    /* border: solid grey 5px;  */
}

.cardClick {
    cursor: pointer;
    border: solid grey 5px; 
}


button:hover {
    cursor: pointer;
}

/* profile games */
.game-item img {
    /* border: solid red 5px; */
    width: 100px;
    height: 100px;
}

.game-item {
    /* border: solid blue 5px; */
    background-color: rgba(231, 76, 10, 0.521);
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.game-item:hover {
    cursor: pointer;
    /* border: solid pink 5px; */
    transform: scale(1.05);
    transition: 0.2s;
}

.game-item:active {
    transform: scale(.98);
    transition: 0.2s;
}

.gameplayhelper {
    border: solid pink 5px;
}

#profileGames {
    /* border: solid green 5px; */
    display: flex;
}

#profileStuff {
    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profileButtons {
    /* border: solid purple 5px; */
    background-color: lightgreen;
    padding: 5px;
}

#incorrectCredentials {
    /* display: none; */
}

#timePlayedStuff {
    /* border: solid pink 5px; */

    /* border: solid green 8px; */
 
     /* display: flex; */
     /* flex-direction: column; */
     background: gray;
     border-radius: 10px;
     /* flex-grow: 1; */
     padding-left: 10px;
     padding-right: 10px;
     /* height: 80vh; */
     /* width: 100vw; */
     /* margin: 0; */

}

#timePlayedStuffDisplay1 {
    /* border: solid red 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay2 {
    /* border: solid white 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay3 {
    /* border: solid purple 5px; */
    /* color: white; */
}

#timePlayedStuffDisplay4 {
    /* border: solid brown 5px; */
    /* color: white; */
}

/* .container {
    width: 100%;
    height: 100vh;
    background: rgba(10, 223, 98, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container form {
    display: flex;
    flex-direction: column;
}
